body {
    background-color: #FFCC66;
    font-family: sans-serif;
}

#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: monospace;
    font-size: 5em;
    text-align: center;
    margin-bottom: 10px;
}

.tagline {
    background-color: #FFAA33;
    font-style: italic;
    font-size: 2em;
    text-align: center;
    padding: 7px;
}

.terminal {
    font-family: monospace;
    background-color: #000;
    color: #FFF;
    padding: 10px;
    border-radius: 14px;
    font-size: 14px;
    white-space: pre;
}

.terminal .comment {
    color: #888;
}

.terminal a {
    color: #7788FF;
}

.inline-terminal {
    font-family: monospace;
    background-color: #EE9933;
    /*color: #FFF;*/
    color: #000;
    padding: 1px 5px;
    border-radius: 4px;
    font-size: 14px;
    white-space: pre;
}

.terminal .prompt {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
